@import "@App/variables.scss";
@import "@App/styles.scss";
@import "../../../Roboto/fonts.scss";

.navbarlink {
  display: flex;

  justify-content: center;

  gap: 10px;
  align-self: stretch;
  color: var(--text-primary, var(--brand, #518581));
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 122.222% */
  text-decoration: none;
  padding: 20px;
  position: relative;
  bottom: -2px;
}

.navbarlink_active {
  color: var(--text-accent);
  border-bottom: 3px solid var(--text-accent);
}
