@import "@App/variables.scss";
@import "@App/styles.scss";

.products {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 100px 100px 50px 100px;
}

.input_filter {
  display: flex;
  flex-direction: column;
}
.input_btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: var(--space-m);
}

.input_text {
  color: var(--input-placeholder, #afadb5);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}
.filter {
  width: 300px;
  height: 52px;
  margin-bottom: var(--space-xl);
}

.cards_block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-l, 32px);
}

.product_number {
  display: flex;
  width: 300px;
  align-items: center;
  gap: var(--space-m, 24px);
}
