@import "@App/variables.scss";
@import "@App/styles.scss";

.pagination {
  display: flex;
}

.pagination_container {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.pagination_item {
  cursor: pointer;
}
